<!-- footer.html -->
{% load static %}
<footer class="bg-dark text-white py-5">
    <div class="container">
        {% comment %}<div class="row">
             <div class="col-md-3">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Careers</a></li>
                    <li><a href="#" class="text-white">Blog</a></li>
                    <li><a href="#" class="text-white">Press</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Products</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Domain Names</a></li>
                    <li><a href="#" class="text-white">Web Hosting</a></li>
                    <li><a href="#" class="text-white">Email Hosting</a></li>
                    <li><a href="#" class="text-white">SSL Certificates</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Knowledge Base</a></li>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white">Chat with Us</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-facebook-f mr-2"></i>Facebook</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-twitter mr-2"></i>Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram mr-2"></i>Instagram</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-linkedin mr-2"></i>LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-white"> {% endcomment %}
        <div class="row">
            <div class="col-md-6">
                <p>&#10084;</p>
            </div>
            <div class="col-sm-6 text-md-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Terms of Service</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>